.carousel .slide .legend{
background:transparent !important;
opacity:1 !important;
bottom:20% !important;
font-size: 35px !important;
}

.carousel .slide {
  margin-right: 15px !important;
}
.carousel.carousel-slider {
  overflow: visible !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #ff000a !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #ff000a !important;
}

.carousel.carousel-slider .control-arrow {
  width: 35%;
}

.carousel .control-prev.control-arrow:before {
  position: absolute !important;
  bottom: 0 !important;
  top: 105% !important;
  left: 90% !important;
}

.carousel .control-next.control-arrow:before {
  position: absolute !important;
  bottom: 0 !important;
  top: 105% !important;
  right: 90% !important;
}

.overlay{
  opacity:0;
}
a:hover .overlay{
  opacity: 1;
  

}
