.search-box {
    height:200px;
    width:200px;
    margin:auto;
    display:flex;
    padding:180px;
}

.navbar,a{
    text-align:right;
    padding:10px;
}

.button{
    margin:20px;
    margin-left:100px;
}

.radius{
    border-radius: 18px;
    width:400px;
}

.advanced-button{
    margin:15px;
    margin-left:150px;
    background-color:#357ae8;
    color:white;
    padding:5px;
}

td{
    padding-right:20px;
}
td>input{
    width:500px;
}
