{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/add.js' %}"></script>

{% endblock %}

{% block body %}
    This is a personal profile or resume of user 
    <h1> Work Experience 
    {% if user_logged_in %}
    <button class="btn btn-primary mb-2 like" id ="add_job" type="button">Add</button>
    {% endif %}
    </h1>
    <!-- this is add form -->
    <form id =add_job_form action="{% url 'add_entity' %}" method="post"> 
        {% csrf_token %}

         <div class="form-group">
        <label for="entity">Job Title</label>
        <input type="text" class="form-control" name="entity" id="entity" placeholder="Title">
      </div>

      <div class="form-group">
        <label for="start_date">start_date</label>
        <input type="date" class="form-control" name="start_date" id="start_date" placeholder="start_date">
        <label for="end_date">end_date</label>
        <input type="date" class="form-control" name="end_date" id="end_date" placeholder="start_date">
    </div>

    <input type="hidden" id="entity_type" name="entity_type" value="job">
    <input type="hidden" id="usr" name="logged_in" value={{name}}>

        <div class="form-group">
            <label for="entity_desc">Job Description</label>
            <textarea class="form-control" id="entity_desc" name="entity_desc" rows="3"></textarea>
          </div>
          <input class="btn btn-primary" type="submit" value="Submit">
          <hr>
    </form>

    <!-- job class forms -->
    <div class ="jobs">

        {% for job in jobs %}
        <div id = {{job.id}} >
            <h2>{{job.entity}}</h2>
            <b>{{job.start_date}} to {{job.end_date}} </b>
            <p>
                <i>{{job.entity_desc}}</i>
            </p> 
            {% if user_logged_in %}
            <form class =delete_form action="{% url 'del_entity' %}" method="post"> 
                {% csrf_token %}
                <div class="form-group">
                <input type="hidden" id="del_id" name="del_id" value={{job.id}}>
                <input type="hidden" id="usr" name="logged_in" value={{name}}>
                </div>
                <input class="btn btn-danger" type="submit" value="Delete">
                {% endif %}
                </form>
        </div>
        <hr>
        {% endfor %}
    </div>

    <h1> Technical Skills
        {% if user_logged_in %}
        <button class="btn btn-primary mb-2 like" id ="add_skills" type="button">Add</button>
        {% endif %}
<!-- Add Skills form -->
        <form id =add_skills_form action="{% url 'add_skills' %}" method="post"> 
            {% csrf_token %}
             <div class="form-group">
            <input type="text" class="form-control" name="skills" id="skill" placeholder="Enter Skills">
            <input type="hidden" id="usr" name="logged_in" value={{name}}>
 
        </div>
          <input class="btn btn-primary" type="submit" value="Submit">
        </form>


    </h1>
    <div class ="skills">

        {% for skill in skills %}
        <div id = {{skill.id}} >
            <p>
                <i>{{skill.skills}}</i>
            </p> 
        </div>

    </div>
    {% endfor %}
    
    
    <h1> Education
        {% if user_logged_in %}
        <button class="btn btn-primary mb-2 like" id ="add_edu" type="button">Add</button>
        {% endif %}

    </h1>

    <!-- this is add Education form -->
    <form id =add_edu_form action="{% url 'add_entity' %}" method="post"> 
        {% csrf_token %}

         <div class="form-group">
        <label for="entity">Job Title</label>
        <input type="text" class="form-control" name="entity" id="entity" placeholder="Title">
      </div>

      <div class="form-group">
        <label for="start_date">start_date</label>
        <input type="date" class="form-control" name="start_date" id="start_date" placeholder="start_date">
        <label for="end_date">end_date</label>
        <input type="date" class="form-control" name="end_date" id="end_date" placeholder="start_date">
    </div>

    <input type="hidden" id="entity_type" name="entity_type" value="education">
    <input type="hidden" id="usr" name="logged_in" value={{name}}>

        <div class="form-group">
            <label for="entity_desc">Job Description</label>
            <textarea class="form-control" id="entity_desc" name="entity_desc" rows="3"></textarea>
          </div>
          <input class="btn btn-primary" type="submit" value="Submit">
          <hr>
    </form>



    <div class ="educations">

        {% for education in educations %}
        <div id = {{education.id}} >
            <h2>{{education.entity}}</h2>
            <b>{{education.start_date}} to {{education.end_date}} </b>
            <p>
                <i>{{education.entity_desc}}</i>
            </p> 
            {% if user_logged_in %}
            <form class =delete_form action="{% url 'del_entity' %}" method="post"> 
                {% csrf_token %}
                <div class="form-group">
                <input type="hidden" id="del_id" name="del_id" value={{education.id}}>
                <input type="hidden" id="usr" name="logged_in" value={{name}}>
                </div>
                <input class="btn btn-danger" type="submit" value="Delete">
                {% endif %}
                </form>
        </div>
        <hr>
        {% endfor %}

    </div>



{% endblock %}