{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for l in lists %}
        <li>
            <img src ={{l.url}}  width="200" height="200">
            <a href = "{% url 'details' l.id %}">
                <h3>{{l.title}}</h3>
            </a>
            <b>Price: ${{l.price.bid_price}}</b>
            <p>Desc: {{l.description}}</p>
            <p>Created {{l.created_date}}</p>
            <hr>
        </li>
        {% endfor %}

    </ul>
    
{% endblock %}